<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        <script src="../static/js/jquery-1.11.3.js"></script>
</head>
<body>
//<button id="add" onclick="booklogin()">加入书架</button>
</body>

<script>

    token = window.localStorage.getItem('dnblog_token');
    email = window.localStorage.getItem('dnblog_user');
    var url = document.location.toString();
    var number = url.split('/')[4]
    var mail = url.split('/')[3]
    console.log(mail)
    console.log(number)

    var get_url="http://127.0.0.1:8000/v1/books/" + mail +"/" + number ;

    function booklogin(){
        $.ajax({
        // 请求方式
        type:"get",
        // url
        url:get_url,

        beforeSend: function(request) {
            request.setRequestHeader("Authorization", token);
        },
        success:function (result){
            if (200 == result.code){
                alert('加入书架成功')
                                 }
                                    }
               })
                         }
</script>





</html>